//Colores
$color-marca: darkblue;
$color-titulos: rgb(101, 145, 99);
$color-fondo-card: rgb(34, 31, 31);
$color-naranja: rgb(215, 153, 76);

// Fuentes
$fuente-marca: "Playwrite DK Loopet", cursive;
$fuente-slogan: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$fuente-titulo: "Merriweather", serif;
$fuente-card: 'Courier New', Courier, monospace;