@charset "UTF-8";
.letra-normal, .temas-tipo, .main-titulo, .main-titulo-sin-bootstrap, .marca {
  font-style: normal;
  font-optical-sizing: auto;
}

.marca {
  font-family: "Playwrite DK Loopet", cursive;
  font-weight: 600;
  color: blue;
  font-size: 40px;
}

.slogan {
  font-family: 'Courier New', Courier, monospace;
  opacity: 1;
  color: rgb(15, 7, 7);
  animation: aparecer 2s linear;
  font-weight: 700;


}

@keyframes aparecer {
  0% {opacity: 0; color: #6c757d;}
  100%{opacity: 1; color: rgb(15, 7, 7);} 
}

nav .inactivo {
  color: rgb(141, 99, 49);
}

.main-titulo, .main-titulo-sin-bootstrap {
  font-family: "Merriweather", serif;
  font-weight: bold;
  color: rgb(101, 145, 99);
  text-align: center;
}

/*  Capas se le podria sacar el prefijo main a todos estos*/
/* En los titulos sin bootstrap se usara esto, en lugar de .main-titulo + .main-separador-titulo*/
.main-titulo-sin-bootstrap {
  font-size: 3rem;
  margin: 30px 0px;
}

.main-frase {
  text-align: center;
  color: #6c757d;
  margin: 30px 0 40px;
}

.imagen-principal {
  display: flex;
  justify-content: center;
  width: 100%;
}

.cont-imagen-home {
  display: flex;
  justify-content: center;
  width: 100%;
}

.img-home {
  width: 100%;
  max-width: 800px;
}

.temas-tipo {
  font-family: "Merriweather", serif;
  color: rgb(101, 145, 99);

  transition: color 1.5s ease;
}

.temas-tipo:hover{
  color: brown;
}

.enlaces-piola {
  text-decoration: none;
}

.cont-flex-tienda {
  margin: 40px;
  gap: 20px;
  /*Capas los contenedores flex comparten lo mmismo, ponerlo en un @extend*/
  /* Las imagen-principal tambien comparte justify center y otros*/
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.item-flex-tienda {
  width: 480px;
  height: 360px;
  overflow: hidden;
  border-radius: 10px;
}

.img-tienda {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ubicacion-flex {
  /*Este flex tiene atributos parametizables en un mixing*/
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin: 20px;
  padding: 20px;
}

.cont-mapa {
  width: 80vw;
  max-width: 700px;
  min-width: 350px;
  aspect-ratio: 4/3;
}

iframe {
  width: 100%;
  height: 100%;
}

.catalogo-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-bottom: 20px;
  gap: 20px;
}

.catalogo-item {
  background-color: rgb(34, 31, 31);
  color: white;
  width: 400px;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}

/*Formulario de contacto*/
/*Para tener un formulario con tamaños escalando*/
.c-item-1 {
  width: 170px;
}

.c-item-2 {
  width: 190px;
}

.c-item-3 {
  width: 210px;
}

.c-item-4 {
  width: 230px;
}

.c-item-5 {
  width: 250px;
}

.c-item-6 {
  width: 270px;
}

.c-item-7 {
  width: 290px;
}

/* Home, color para los bordes del texto de las diferentes secciones. */
.parrafo-1 {
  margin: 0px 50px;
  border-radius: 5px;
  border: 1px solid rgb(25, 230, 50);
}

.parrafo-2 {
  margin: 0px 50px;
  border-radius: 5px;
  border: 1px solid rgb(50, 205, 50);
}

.parrafo-3 {
  margin: 0px 50px;
  border-radius: 5px;
  border: 1px solid rgb(75, 180, 50);
}

.parrafo-4 {
  margin: 0px 50px;
  border-radius: 5px;
  border: 1px solid rgb(100, 155, 50);
}

.parrafo-5 {
  margin: 0px 50px;
  border-radius: 5px;
  border: 1px solid rgb(125, 130, 50);
}

.parrafo-6 {
  margin: 0px 50px;
  border-radius: 5px;
  border: 1px solid rgb(150, 105, 50);
}

.parrafo-7 {
  margin: 0px 50px;
  border-radius: 5px;
  border: 1px solid rgb(175, 80, 50);
}

.parrafo-8 {
  margin: 0px 50px;
  border-radius: 5px;
  border: 1px solid rgb(200, 55, 50);
}

.parrafo-9 {
  margin: 0px 50px;
  border-radius: 5px;
  border: 1px solid rgb(225, 30, 50);
}

.parrafo-10 {
  margin: 0px 50px;
  border-radius: 5px;
  border: 1px solid rgb(250, 5, 50);
}

.tarjeta {
  overflow: hidden;
}
.tarjeta img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}
.tarjeta div {
  display: flex;
  justify-content: center;
}
.tarjeta .titulo-card {
  font-family: "Courier New", Courier, monospace;
  font-size: large;
}
.tarjeta .descripcion-card {
  font-size: small;
}

.ver-precios {
  background-color: rgb(215, 153, 76);
  border-radius: 10px;
  margin-bottom: 20px;
  width: 60%;
}
.ver-precios a {
  text-decoration: none;
  color: black;
}

/* Para la grilla del catalogo en pantallas de computador*/
@media (min-width: 850px) {
  .catalogo-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}


.botoncito{
  width: 200px;
  background-color: green;
  animation: tornasol 4s linear infinite , moverse 4s linear infinite;
}

@keyframes tornasol{
  0% {background-color: green;}
  25% {background-color: blue;}
  50% {background-color: red;}
  75% {background-color: purple;}
  100%{background-color: brown;}
}

@keyframes moverse {
  0% { transform: translateX(0) translateY(0) translateZ(0);}
  50% { transform: translateX(40px) translateY(0) translateZ(0);}
  
}

/*# sourceMappingURL=estilo2.css.map */