.fuente-normal{
        font-optical-sizing: auto;
        font-style: normal;
}

.marca {

    font-family: $fuente-marca;
    font-weight: 450;
    color: $color-primario;
    @extend .fuente-normal;
}

.slogan {
    font-family: $fuente-slogan;
}