// Colores
$color-primario: darkblue;
$color-secundario: rgb(101, 145, 99);
$color-terciario: rgb(196, 128, 3);
$color-fondo-card: rgb(31, 31, 31);
$color-precio: rgb(215, 153, 76);


/* el color terciario es fusionable con el precio*/
/* Ver si el fondo de las cards puede ser simplemente negro*/

// Tipografias
$fuente-marca: "Playwrite DK Loopet", cursive;
$fuente-titulo: "Merriweather", serif;
$fuente-slogan: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$fuente-card: 'Courier New', Courier, monospace;

