.botoncito {
  width: 200px;
  background-color: green;
  animation: tornasol 4s linear infinite, moverse 4s linear infinite;
}

.ver-precios {
  background-color: rgb(215, 153, 76);
  border-radius: 10px;
  margin-bottom: 20px;
  width: 60%;
}

.ver-precios a {
  text-decoration: none;
  color: black;
}