.tarjeta {
  overflow: hidden;
}

.tarjeta img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}

.tarjeta div {
  display: flex;
  justify-content: center;
}

.tarjeta .titulo-card {
  font-family: "Courier New", Courier, monospace;
  font-size: large;
}

.tarjeta .descripcion-card {
  font-size: small;
}