@keyframes aparecer {
  0% { opacity: 0; color: #6c757d; }
  100% { opacity: 1; color: rgb(15, 7, 7); }
}

@keyframes tornasol {
  0% { background-color: green; }
  25% { background-color: blue; }
  50% { background-color: red; }
  75% { background-color: purple; }
  100% { background-color: brown; }
}

@keyframes moverse {
  0% { transform: translateX(0) translateY(0) translateZ(0); }
  50% { transform: translateX(40px) translateY(0) translateZ(0); }
}