.letra-normal, .temas-tipo, .main-titulo, .main-titulo-sin-bootstrap, .marca {
  font-style: normal;
  font-optical-sizing: auto;
}

.marca {
  font-family: "Playwrite DK Loopet", cursive;
  font-weight: 600;
  color: blue;
  font-size: 40px;
}

.slogan {
  font-family: 'Courier New', Courier, monospace;
  opacity: 1;
  color: rgb(15, 7, 7);
  animation: aparecer 2s linear;
  font-weight: 700;
}