//Formulario de contacto
@for $i from 1 through 7 {
  .c-item-#{$i} {
    width: 150px + (20px * $i);
  }
}

//animacion boton contacto
.botoncito{
  width: 200px;
  background-color: green;
  animation: tornasol 4s linear infinite , moverse 4s linear infinite;
}

@keyframes tornasol{
  0% {background-color: green;}
  25% {background-color: blue;}
  50% {background-color: red;}
  75% {background-color: purple;}
  100%{background-color: brown;}
}

@keyframes moverse {
  0% { transform: translateX(0) translateY(0) translateZ(0);}
  50% { transform: translateX(40px) translateY(0) translateZ(0);}
}
