$color-cobra: blue;
$color-inicio: #6c757d;
$color-slogan: rgb(15, 7, 7);
$color-inactivo: rgb(141, 99, 49);
$color-titulos: rgb(101, 145, 99);
$fondo-card: rgb(34, 31, 31);
$color-naranja: rgb(215, 153, 76);

$fuente-marca: "Playwrite DK Loopet", cursive;
$fuente-courier: 'Courier New', Courier, monospace;
$font-titulo: "Merriweather", serif;

$font-size-large: 3rem;