/*SCSS de SASS - hecho */

// Variables
$color-primario: darkblue;
$color-secundario: rgb(101, 145, 99);
$color-terciario: rgb(196, 128, 3);
$color-fondo-card: rgb(34, 31, 31);
$color-precio: rgb(215, 153, 76);

// Fuentes
$fuente-marca: "Playwrite DK Loopet", cursive;
$fuente-titulo: "Merriweather", serif;
$fuente-slogan: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$fuente-card: 'Courier New', Courier, monospace;

.marca {
    font-family: $fuente-marca;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    color: $color-primario;
}

.slogan {
    font-family: $fuente-slogan;
}

.nav {
    .inactivo {
        color: $color-terciario;
    }
}

.main {
    &-titulo {
        font-family: $fuente-titulo;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: bold;
        color: $color-secundario;
        text-align: center;
    }

    &-separacion-titulo {
        font-size: 3rem;
        margin: 30px 0;
    }

    &-frase {
        text-align: center;
        color: #6c757d;
        margin: 30px 0 40px;
    }

    .imagen-principal {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .img-home {
        width: 100%;
        max-width: 800px;
    }
}

.home-temas-tipo {
    font-family: $fuente-titulo;
    font-optical-sizing: auto;
    font-style: normal;
    color: $color-secundario;
}

.enlaces-piola {
    text-decoration: none;
}

.flex {
    &-cont-tienda {
        margin: 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    &-item-tienda {
        width: 480px;
        height: 360px;
        overflow: hidden;
        border-radius: 10px;
    }
}

.img-tienda {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ubicacion-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.div-mapa {
    width: 80vw;
    max-width: 700px;
    min-width: 350px;
    aspect-ratio: 4 / 3;
}

iframe {
    width: 100%;
    height: 100%;
}

.grilla-catalogo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-bottom: 20px;
}

.item-catalogo {
    background-color: $color-fondo-card;
    color: white;
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.catalogo-card {
    overflow: hidden;

    img {
        width: 100%;
        aspect-ratio: 4 / 3;
        object-fit: cover;
    }

    div {
        display: flex;
        justify-content: center;
    }
}

.nombre-card {
    font-family: $fuente-card;
    font-size: large;
}

.descripcion-card {
    font-size: small;
}

.item-precios {
    background-color: $color-precio;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 60%;

    a {
        text-decoration: none;
        color: black;
    }
}

@media (min-width: 850px) {
    .grilla-catalogo {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
}


/**/